<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="#hero"><img src="assets/img/logo.png" alt="" title="" /></a>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Header 1</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#hero">Home</a></li>
                <li><a href="#about">Giới thiệu</a></li>
                <li><a href="#services">Dịch vụ</a></li>
                <li><a href="#portfolio">Sản phẩm</a></li>
                <li><a href="#testimonials">Chứng nhận</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#contact">Liên hệ</a></li>
                <li><a routerLink="/khachhang/thongtingiohang" href="#giohang">Giỏ hàng</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->