<app-nav></app-nav>

<div class="selectedSanPham container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5">
            <img src="assets/img/hinhSanPhamGo/{{selectedSanPham.hinh}}" alt="" class="img-responsive img img-rounded" width="80%">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7">
            <div class="thongTinSanPham">
                <h2 class="text-primary">{{selectedSanPham.tensanpham}}</h2>
                <h3>Mã sản phẩm : {{selectedSanPham.masanpham}}</h3>
                <h3>Giá : {{selectedSanPham.dongia}}</h3>
                <h3>{{selectedSanPham.diengiaitomtat}}</h3>
            </div>
            <div class="datHang">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <label for="">Số lượng đặt hàng</label>
                        <br>
                        <input type="number" min="0" max="99" value="1" name="soLuong" #soLuong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <button type="submit" class="btn btn-danger" name="btnMua" (click)="getThemVaoGioHang(soLuong.value)">Thêm vào giỏ hàng</button>
                    </div>
                </div>
            </div>
            {{test}}
        </div>
    </div>
    <div class="container chiTiet">
        <h2>Thông tin chi tiết</h2>
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#home">Chi Tiết</a>
            </li>
            <li>
                <a data-toggle="tab" href="#menu1">Sản phẩm cùng loại</a>
            </li>
            <li>
                <a data-toggle="tab" href="#menu2">Ngày cập nhật</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Chi tiết</h3>
                <p><p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Sản phẩm cùng loại</h3>
                <p></p>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Ngày cập nhật</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>